.myNav {
    transition: all;
    transition-duration: 0.5s;

}


.sx-react-calendar-wrapper {
    width: 100%;
    height: 800px;
    max-height: 90vh;
  }

  .animate-dropdown {
    animation: dropdownSlideDown 0.4s ease-in-out forwards;
  }
  
  @keyframes dropdownSlideDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  